<div class="container d-flex justify-content-center align-items-center" style="height:50vh;">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="display-1">
                    404 Not Found
                </h1>
                <div class="error-details">
                    <p class="text-center">Sorry, an error has occured, Requested page not found!</p>
                </div>
                <div class="d-flex justify-content-center error-actions">
                    <button  class="btn btn-danger">TAKE ME HOME</button>
                </div>
            </div>
        </div>
    </div>
</div>