*{
    margin:0;
    padding:0;
}

.__custom__a{
    margin:0 10px;
}
.__custom__col__8{
    position:relative;
    display:flex;
    margin:5px 0;
    justify-content: center;
    align-items: center;
    
            input{
                width:70%;
                padding:10px 20px 10px;
                border:none;
                background:rgb(240, 239, 239);
            }
            input:focus{
                outline:none;
            }
    .image-container{
        background-color:#e74c3c ;
        width:40px;
        height:43px;
        display:flex;
        justify-content: center;
        align-items: center;
            img{
                width:32px;
                height:32px;
            }
    }
    .result-container{
        .search-result{
            box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
            position: absolute;
            width:74%;
            overflow: auto;
            max-height: 40vh;;
            overflow-y: scroll;
            top:52px;;
            z-index: 99999;
            left:115px;
            cursor: pointer;
            .list-inline {    
                overflow-y: auto;
                li{
                    width:100%;
                }
                li:hover{
                    background-color: rgb(236, 236, 236);
                    color:white;
                }
             }
        }
        
    }
}

.scrollable-menu {
    height: auto;
    width:20vw;
    max-height: 200px;
    overflow-x: hidden;
}

h4.Logos {
    font-weight: 400;
    font-family: 'Bangers', cursive;
    margin-top:5px;
    text-align: center;
    letter-spacing: 3px;
    
}