<div *ngIf="!cartCheckout" class="container-fluid head pb-2 sticky-top shadow  bg-white rounded" >
    <div class="row  bg-danger p-1">
        <nav class="col-10 navbar navbar-expand-lg navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item __custom_li">
                    <a class="nav-link text-white __custom__a" (click)="goToHome()" [routerLink]="['home']">HOME</a>
                </li>
              <li class="nav-item dropdown" id="myDropdown">
                <a class="nav-link dropdown-toggle text-white" style="cursor:pointer;" data-bs-toggle="dropdown">  BRAND </a>
                <ul class="dropdown-menu scrollable-menu p-2">
                  <li class="mt-1" *ngFor="let brand of getUnique(brandList);let i = index" style="cursor:pointer;" > <a (click)="goToBrand(brand)" class="dropdown-item" >{{brand}}</a></li>
                </ul>
              </li>
              <li class="ml-2 nav-item dropdown" id="myDropdown">
                  <a class="nav-link dropdown-toggle text-white"  data-bs-toggle="dropdown"> CATEGORY </a>
                  <ul class="dropdown-menu scrollable-menu p-2">
                    <li> <a class="dropdown-item" (click)="goToCategory('Laptop')" >Laptop</a></li>
                    <li  class="mt-1"> <a class="dropdown-item"  (click)="goToCategory('Desktop')">Desktop</a></li>
                    <li  class="mt-1"> <a class="dropdown-item"  (click)="goToCategory('Mobile Phone')">Mobile</a></li>
                    <li  class="mt-1"> <a class="dropdown-item"  (click)="goToCategory('Monitor')" >Monitor</a></li>
                    <li  class="mt-1"> <a class="dropdown-item"  (click)="goToCategory('Peripherals')">Peripherals</a></li>
                  </ul>
                </li>
            </ul>
      </nav>
      <ul *ngIf="isShowNav" class="__custom_nav col-2 nav flex-row  pr-3 justify-content-end">
        <li class="nav-item __custom_li">
            <a class="nav-link text-white __custom__a" (click)="gotoLogin()" style="cursor:pointer;">LOGIN</a>
        </li>
        <li class="nav-item __custom_li">
            <a class="nav-link text-white __custom__a" (click)="gotoRegistration()" style="cursor:pointer;">REGISTER</a>
        </li>
    </ul>

    </div>
    <div class="row __custom_row py-2">
        <div class="col-3 d-flex flex-row align-items-center justify-content-center">
            <h4 class="Logos">DIGITAL EXPRESS</h4>
        </div>

        <div class="col-6 __custom__col__8">
            <input type="text" [(ngModel)]="name" (click)="searchProduct()" (ngModelChange)="searchProduct()" placeholder="Search Product...">
            <div class="bg-danger image-container">
                <img src="../../assets/img/search-icon.png"(click)="searchProduct()" alt="">
            </div>

            <div class="row result-container" *ngIf="showResult">
                <div class="col-3">
                </div>
                <div class="col-6 search-result bg-white" >
                    <p class="my-2 pl-3 pt-2">Total items: {{products.length}}</p>
                    <ul class="list-inline my-2  pt-2" *ngFor="let product of products;let i = index">
                        <li (click)="viewProduct(product.id)" class="px-3 py-2 text-dark list-inline-item"><p><i class="fa fa-search mr-2"></i>{{product.productName}}</p></li>
                    </ul>
                </div>
                <div class="col-3"></div>
            </div>
        </div>

        <div class="col-1 d-flex justify-content-end align-items-center">
        
            <p style="cursor: pointer;" class="cart" (click)="gotoCart()"> <i class="mr-2 text-danger fa fa-shopping-cart fa-2x"></i></p>
            <p class="h5 text-danger" *ngIf="isShowItemCart">{{cartLength}}</p>
        </div>

        <div *ngIf="isShowUser" class="col-2 d-flex justify-content-center align-items-center">
            <div class="dropdown">
                <button class="btn btn-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <p> <i class="mr-2 text-danger fa fa-user fa-2x"></i>Hello, {{userName}}</p>
                </button>
                <div class="dropdown-menu mt-2 " aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item m-2" (click)="goToProfile()">My Profile</a>
                  <a class="dropdown-item m-2" (click)="logout()">Logout</a>
                </div>
              </div>
        </div>
    </div>
    <div *ngIf="menuShow" class="row pl-5 pt-1">
        <div class="container d-flex">
            <p class="font-weight-bold">HOME 
                <i class="ml-4 fa fa-caret-right"></i>
             </p>
             <p class="ml-4 font-weight-bold">  {{menuTitle}}
                <i class="ml-4 fa fa-caret-right"></i>
            </p>
            <p  *ngIf="showCategory" class="ml-4 font-weight-bold">  {{menuCategory}}
                <i class="ml-4 fa fa-caret-right"></i>
            </p>
             <p *ngIf="showMenuBrand" class="ml-4 font-weight-bold">{{menuName}}
                <i class="ml-4 fa fa-caret-right"></i>
             </p>
          
             <p *ngIf="showProdName" class="ml-4 font-weight-bold">{{prodName}}</p>
        </div>
    </div>
</div>