<div class="footer bg-danger">
   <div class="customer">
       <p>CUSTOMER SERVICE</p>
        <ul>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">OLShoppe Pay</a></li>
            <li><a href="#">OLShoppe Coins</a></li>
            <li><a href="#">Order Tracking</a></li>
            <li><a href="#">Free Shipping</a></li>
            <li><a href="#">Return & Refund</a></li>
            <li><a href="#">OLShoppe Guarantee</a></li>
            <li><a href="#">Contact Us</a></li>
            
        </ul>
   </div> 
   <div class="about">
        <p>ABOUT OLSHOPPE</p>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">OLShoppe Blog</a></li>
            <li><a href="#">OLShoppe Careers</a></li>
            <li><a href="#">OLShoppe Policies</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">OLShoppe Mall</a></li>
            <li><a href="#">Seller Centre</a></li>
        </ul>
    </div> 
    <div class="payment">
        <p>PAYMENT</p>
        <img src="../../assets/img/paypal.png" width="80" alt="">
    </div> 
    <div class="follow">
        <p>FOLLOW US</p>
        <ul>
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">INSTAGRAM</a></li>
            <li><a href="#">TWITTER</a></li>
            <li><a href="#">LINKEDIN</a></li>
            
        </ul>
    </div> 
</div>