ul{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:white;
    font-size:14px;
}
p{
    font-size:14px;
    font-weight: 600;
    color:white;
    margin:0;

}
.footer{
    
    width:100vw;

    display:grid;
    justify-content: center;
    align-items: flex-start;
    padding:40px 40px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    .about, .customer, .follow, .payment{
        padding-left:20px;
    }
}
