<div class="carousel">
 
  <ul class="list-ul">
      <li class="list-li" *ngFor="let slide of slides;let i=index">
        <ng-container *ngIf="i===currentIndex">
          <img class="list-img" [src]="slide.src" alt="">
        </ng-container>
      </li>
      
  </ul>
    <img src="../../assets/img/pre.png" width="40" class="next" (click)="next()">
    <img src="../../assets/img/next.png" width="40" class="pre" (click)="prev()">
    
</div>