.carousel{
    display:flex;
    position:relative;
    justify-content: center;
    height:auto;
    margin-bottom: 50px;;
    ul{
        padding:0;
        list-style:none;
        
        li img{
            width:100vw;
            height:80vh;
              transition: box-shadow .3s;
        border: 1px solid rgba(127, 127, 127, 0.16);
        box-shadow: 0 1px 4px rgb(127 127 127 / 11%);
        }
        li img:hover{
            box-shadow: 0 0 10px #ccc;
        }
    }
    .next{
        position:absolute;
        left:180px;
        cursor: pointer;
        top:220px;
    }
    .pre{
        position:absolute;
        cursor: pointer;
        right:180px;
        top:220px;

    }
    .next:hover, .pre:hover{
        width:42px;
    }
}