@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
/* Used Google Fonts */
.container-fluid{
    margin:0;
    padding:0;
}
.__image_container{
    img{
        width:110px;
    }
}   
.peso-sign{
    font-family: Arial, Helvetica, sans-serif;
}

h4.Logos {
    font-weight: 400;
    font-family: 'Bangers', cursive;
    margin-top:5px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0px #2d303a, -2px -2px 0px #2d303a, -2px 2px 0px #2d303a, 2px -2px 0px #2d303a;
    color: #fff;
}
