<div class="container-fluid bg-white " style="height:auto;">
    
    <div class="row bg-danger ">
        <div class="col-6 d-flex pl-5  justify-content-start align-items-center">
            <h4 class="Logos" (click)="goToHome()">Digital Express</h4>
            <p class="h5 ml-2 text-white" style="cursor: pointer;">| Shopping Cart | Checkout</p>
        </div>
        <div  class="col-6 d-flex pr-5 pt-2 justify-content-end align-items-center">
            <div class="dropdown">
                <button class="btn btn-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <p class="text-white"> <i class="mr-2 text-white fa fa-user fa-2x"></i>Helllo</p>
                </button>
                <div class="dropdown-menu mt-2 " aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item m-2" (click)="goToProfile()">Profile</a>
                  <a class="dropdown-item m-2" (click)="logout()">Logout</a>
                </div>
              </div>
        </div>
    </div>

    <div class="container-fluid mt-3 p-5 bg-light d-flex flex-column" >
        <div class="row bg-white ">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 p-3 d-flex justify-content-start align-items-center">
                        <p class="text-danger h4"><i class="mr-2 fa fa-map-marker " aria-hidden="true"></i>Delivery Address</p>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-4">
                        <h5 >{{fullName}}</h5>
                        <h5>{{mobileNumber}}</h5>
                    </div>
                    <div class="col-8">
                        <h5>{{address}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row bg-white d-flex flex-row align-items-center p-3" *ngFor="let cart of carts;let i = index">
            
            <div class="col-2 __image_container">
                <h5 class="mb-2">Products Ordered</h5>
                <img [src]="cart.product.imagePath" alt="">
            </div>
            <div class="col-4">
                <h5 class="mb-5">Name</h5>
                <p class="peso-sign">{{cart.product.productName}}</p>
            </div>
            <div class="col-2">
                <h5 class="mb-5">Quantity</h5>
                <p class="peso-sign">{{cart.orderQuantity}}</p>
            </div>
            <div class="col-2">
                <h5 class="mb-5">Price</h5>
                <p class="peso-sign">{{cart.product.price | currency:"&#8369;":"symbol"}}</p>
            </div>
            <div class="col-2">
                <h5 class="mb-5">Subtotal</h5>
                <p class="peso-sign">{{computePerRow(cart.product.price,cart.orderQuantity) | currency:"&#8369;":"symbol" }}</p>
            </div>

        </div>
        <br>
        <div class="row p-3 d-flex bg-white justify-content-start">
            <h5>Payment Method:</h5>
            <div class="col-8">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-transparent border-secondary" 
                    (click)="cod()" 
                    [ngClass]="{'btn-transparent' : !toggleCOD, 'btn-primary': toggleCOD}"
                    >
                    COD </button>
                    <button type="button" class="ml-2 btn btn-transparent border-secondary"
                    (click)="bank()" 
                    [ngClass]="{'btn-transparent' : toggleBank, 'btn-primary': !toggleBank}"
                    >Linked Bank Account</button>

                    <select *ngIf="showBank" 
                    #bankName
                    (change)="getBankAccountDetails(bankName.value)"
                    class="form-select ml-2 form-select " aria-label=".form-select example">
                    <option selected>Select account</option>
                        <option [value]="bank" 
                        *ngFor="let bank of bankNames">{{bank}}</option>
                    </select>

                    <button type="button" *ngIf="showBtnAdd" (click)="showAddForm()" class="ml-2 btn btn-danger border-secondary">Add Account</button>
                    
                </div>
            </div>
        </div>
        <br>
        <div class="row bg-white p-3" *ngIf="showSaveAccount">
            <form [formGroup]="accountForm"  (ngSubmit)="onSubmit()" class="p-1 col-4" >
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Account name"
                  formControlName="accountName" [ngClass]="{ 'is-invalid': submitted && f.accountName.errors }"
                  >
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Account type"
                    formControlName="accountType" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }"
                    >
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Account number"
                    formControlName="accountNumber" [ngClass]="{ 'is-invalid': submitted && f.accountNumber.errors }"
                    >
                  </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Balance"
                  formControlName="balance" [ngClass]="{ 'is-invalid': submitted && f.balance.errors }"
                  >
                </div>
                <div class="form-group d-flex">
                    <select class="form-select mr-1 col-7 form-select mb-3" aria-label=".form-select example">
                        <option [value]="month" *ngFor="let month of months">{{month}}</option>
                    </select>
                    <select class="form-select ml-4 col-4 form-select mb-3" aria-label=".form-select example">
                        <option [value]="year" *ngFor="let year of years">{{year}}</option>
                    </select>    
                </div>

             <button  class="btn btn-block btn-danger " >SAVE ACCOUNT</button>
            </form>
           
        </div>
        <br>
        <div class="row bg-white p-3" *ngIf="showAccInfo" >
            <div *ngFor="let acc of bankAccounts">
                <h4 class="peso-sign">Full name: {{fullName}}</h4>
                <h4 class="peso-sign">Account name: {{acc.accountName}}</h4>
                <h4 class="peso-sign">Account type: {{acc.accountType}}</h4>
                <h4 class="peso-sign">Account balance: {{acc.balance | currency:"&#8369;":"symbol"}}</h4>
            </div>
        </div>
        <br>
        <div class="row mb-5" *ngIf="!showSaveAccount">
            <div class="col-12 d-flex flex-column  align-items-end p-3 bg-white justify-content-end" >
                <p class="peso-sign">Total Item(s): {{totalItem}} </p>
                <p class="peso-sign">Total Amount: {{totalAmount | currency:"&#8369;":"symbol"}}</p>
                <button (click)="placeOrder()" class="btn btn-danger">Place Order</button>
            </div>
        </div>
    </div>
    
</div>

