<div class="container-fluid bg-white " style="height:auto;">
    <div class="row bg-danger ">
        <div class="col-6 d-flex pl-5  justify-content-start align-items-center">
            <h4 class="Logos" (click)="goToHome()">Digital Express</h4>
            <p class="h5 ml-2 text-white" style="cursor: pointer;">| User Transaction</p>
        </div>
        <div  class="col-6 d-flex pr-5 pt-2 justify-content-end align-items-center">
            <div class="dropdown">
                <button class="btn btn-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <p class="text-white"> <i class="mr-2 text-white fa fa-user fa-2x"></i>Helllo, {{userName}}</p>
                </button>
                <div class="dropdown-menu mt-2 " aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item m-2" (click)="goToProfile()">Profile</a>
                  <a class="dropdown-item m-2" (click)="logout()">Logout</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row p-5 m-5 bg-white">
        <button class="btn mb-2 btn-primary col-2" (click)="createPdf()">PRINT <i class="fa fa-print"></i></button>
        <table id="mytable" class="table table-bordred table-striped">  
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Payment</th>
                <th>Checkout</th>
                <th>Total Amount</th>
               
            </thead>
            <tbody>
                <tr *ngFor="let trans of transaction;let i = index">
                    <td>
                        {{i}}
                    </td>
                    <td>
                        {{trans.orderDate}}
                    </td>
                    <td>
                        {{trans.paymentOption}}
                    </td>
                    <td>
                        {{trans.status}}
                    </td>
                    <td>
                        {{trans.total}}
                    </td>
                </tr>


            </tbody>
            
        </table>
    </div>
</div>