<div class="categories">
    <ul class="list-ul">
        <ng-container>
            <li class="list-li"  (click)="goToCategory('1',category.name)"  *ngFor="let category of categories;let i=index">  
                <img class="list-img"  [src]="category.src" alt="">
                <span></span>
                <p>{{category.name}}</p>
            </li>
        </ng-container>
    </ul>
</div>

