*{
    margin:0;
    padding:0;
}
.categories{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}
ul{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    li{
        transition: box-shadow .3s;
        border: 1px solid rgba(127, 127, 127, 0.16);
        box-shadow: 0 1px 4px rgb(127 127 127 / 11%);
        padding:10px;
        width:200px;
        margin:0 30px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    li:hover{
        box-shadow: 0 0 10px #ccc;
    }
    li img{
        display:flex;
        justify-content: center;
        cursor:pointer;
        width:150px;
        height:120px;   
        text-indent:15px;
       
       
    }
    li p{
      
        margin-top:10px;
        font-weight: bold;
        display:flex;
        justify-content: center;
    }
    li span{
        margin-top:10px;
        display:block;
        background:lightgray;
        height:1px;
        width:100%;
    }
}