<div class="categories" style="height:auto;">
    <ul class="list-ul" >
        <li class="list-li mb-5 " *ngFor="let prod of products" (click)="viewProduct(prod.id,prod.brand,prod.productName,prod.category)">
            <div class="laptop-image">
                <img class="list-img" [src]="prod.imagePath" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">{{prod.price | currency:"&#8369;":"symbol"}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
                <button class="btn btn-danger mt-3 mb-3">ADD TO CART
                    <i class="ml-2 fa fa-shopping-cart" ></i>
                </button>
            </div>
        </li>   
        
    </ul>
</div> 
 



