<div class="container p-5 bg-light">
   <div class="row" *ngFor="let view of productView;let i=index">
       <div class="col-6">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" [src]="view.imagePath" alt="Card image cap">
          </div>
       </div>   
       <div class="col-6 d-flex  flex-column align-item-center justify-content-center">
            <form [formGroup]="addCartForm" (ngSubmit)="onSubmit()" >
                <h4 class="title mb-4">{{view.productName}}</h4>
                <p class="mb-3" ><span class="brand">Brand: </span>{{view.brand}}</p>
                <p class="price mb-2">{{view.price | currency:"&#8369;":"symbol":"3.0"}}</p>
                <p class="qty-available"><span class="label-avail">Available: </span>{{ view.productQuantity }}</p>
        
                <div class="qty-container">
                    Quantity:
                    <button type="button" class="qty-btn" (click)="minusQty()">-</button>
                    <input type="number" [placeholder]="quantity" formControlName="order_quantity" class="qty" [value]="quantity">
                    <button type="button" class="qty-btn" (click)="addQty()">+</button>
                </div>
                <button type="submit" class="btn btn-addCart mt-5">Add to Cart</button>
            </form>
       </div>
   </div>
   <div class="row bg-light">
     
       <div class="col p-3 my-5" *ngFor="let view of productView;let i=index">
        <h4>Product Description:</h4>
            <p>{{view.productDescription}}</p>
       </div>
   </div>
</div>
<simple-notifications></simple-notifications>