.container{
    height:auto;
}
.btn-addCart{
    width:60%;
    border:none;
    cursor: pointer;
    color:white;
    background-color: #e74c3c;
    padding:8px 0;
    margin:15px 0;
    letter-spacing: 3px;
    font-size:16px;
}
.btn-addCart:hover{
    background-color: #b90000; 
}
.title{
    font-size: 29px;
}
.price{
    font-size:24px;
    color:#b90000; 
   
}
.peso-sign{
    font-family: Arial, Helvetica, sans-serif;
}


.qty{
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,0.8);
    text-align: center;
    width: 52px;
    height: 32px;
    
}
.qty-btn{
    outline: none;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 2px;
    background: white;
    color: rgba(0,0,0,0.8);
    width: 32px;
    height: 32px;
}