*{
    margin:0;
}
.container{
    margin:10px 0;
    margin-left:40px;
    padding:15px 40px 15px 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin:15px 0;
    }
    .input-group{
        display: flex;
        flex-direction: column;
        margin:15px 0;
        input{
            
            padding:5px;
            height:40px;
            border:1px solid lightgray;
            width: 350px;
            cursor:auto;
            font-size: 16px;
        }
        input:focus{
            outline:1px solid black;;
        }
        img{
            position:absolute;
            top:32px;
            right:15px;
            cursor: pointer;
        }    
      
    }
    .btn-login{
        width:100%;
        border:none;
        cursor: pointer;
        color:white;
        background-color: #fbc251;
        padding:8px 0;
        margin:15px 0;
        font-size:16px;
    }
    .btn-login:hover{
        background-color: #f7b228;
     
    }
    .forgot{
        font-size:16px;
        margin:10px 0;
        cursor:pointer;
    }
    .forgot:hover{
        color:blue;
    }
    .btn-register{
        width:32%;
        border:none;
        cursor: pointer;
        color:white;
        background-color: #e74c3c;
        padding:8px 0;
        margin:15px 0;
        letter-spacing: 6px;
        font-size:16px;
    }
    .btn-register:hover{
        background-color: #b90000; 
        
    }
    
    .or-container{
        display:flex;
        width:29%;
        padding:0 10px;
        justify-content: center;
        align-items: center;
        span{
            display:block;
            background: lightgray;
            width:100%;
            height: 1px;
        }
        p{
            margin:0 10px;
            font-size: 16px;
            color:gray;
        }
    }
}