<div class="container"> 

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <label for="username">Username: </label>
           <input type="text" 
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
           formControlName="username" autocomplete="off" id="username" placeholder="Enter username">
            <div *ngIf="submitted && f.username.errors " class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" formControlName="password" 
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="Enter password" [type]="hide? 'password':'text'" id="passowrd">
            <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <img src="{{imagePath}}"  width="25"  (click)="showPassword()"  alt="HIDE PASSWORD">
            <p class="forgot">Forgot Password?</p>
        </div>
        
        <button class="btn-login" type="submit">LOGIN</button>
    </form>
    <div class="or-container">
        <span></span>
        <p>Or</p>
        <span></span>
    </div>
    <button class="btn-register">REGISTER</button>
</div>