*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.categories{
    display:flex;
    justify-content: center;
    padding:15px;
    ul{
        list-style: none;
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr;
        column-gap: 5px;
    }
    li{
        transition: box-shadow .3s;
        border: 1px solid rgba(127, 127, 127, 0.16);
        box-shadow: 0 1px 4px rgb(127 127 127 / 11%);
        padding:0 10px;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height:auto;
        img{
            width:220px;
            margin:20px 0;
        }
    }
    li:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
    li .laptop-info{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:20px;
        .laptop-price{
            font-size:24px;
            color:#e74c3c;
        }
        .laptop-name{
            font-size:12px;
            margin-bottom:10px;
        }
        .laptop-brand{
            font-size:12px;
        }
        .btn{
            height:35px;
        }
        
    }
}