.container{
    margin-bottom:250px;
    background-color: #f5f5f5;
}
td {
    vertical-align: middle;
  }
thead{
    border:none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: .125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 3.4375rem;
    font-size: .875rem;
    background: #fff;
    margin-bottom: 12px;
   
    padding: 0 20px;
    margin-bottom: 50px;
}
tbody{

        border:none;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
        border-radius: .125rem;
        overflow: hidden;
        border-radius: 3px;
        height: 3.4375rem;
        font-size: .875rem;
    
        text-transform: capitalize;
        margin-bottom: 12px;

        padding: 0 20px;
}
.custom-control-input {
    border:1px solid black;
}
.qty{
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,0.8);
    text-align: center;
    width: 52px;
    height: 32px;
    
}
.qty-btn{
    outline: none;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 2px;
    background: white;
    color: rgba(0,0,0,0.8);
    width: 32px;
    height: 32px;
}
.qty-btn:hover{
    background-color: rgb(224, 222, 222);
}
.peso-sign{
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
}
.total-price{
    margin:0 20px;
}
.total-item{
    margin:0 20px;
}
td > .btn-danger{
    font-size:14px;
    font-weight: bold;
}
.container-total{
    position:absolute;
    right:120px;
    margin:10px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
}