<div class="container">
  <div class="row  py-2">
    <div class="col-6">
      <div class="input-group">
        <div class="form-outline">
          <input type="search"  [(ngModel)]="productName" (ngModelChange)="searchProduct()" id="form1" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button *ngIf="showBtnDelete" (click)="deleteCart()" class="btn btn-danger">DELETE ALL <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    
  </div>
  <form >
    <div class="row py-2" style="width:100%;" >
      <div class="col-12">
        <table class="table table-borderless" style="width:100%;">
          <thead>  
          <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Available</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cart of carts | paginate:{itemsPerPage:10,currentPage: page,totalItems:cartLength};let i = index"> 
              <td>{{i+1}}
              <input type="checkbox" [value]="computePerRow(cart.product.price,cart.orderQuantity)" (change)="checkCheckBoxvalue($event,cart.id,i)" id="customCheck{{i+1}}">
              </td>
              <td>
                <img [src]="cart.product.imagePath" width="60px" alt="">
                {{cart.product.productName}}

              </td>
              <td><p class="peso-sign">{{cart.product.price | currency:"&#8369;":"symbol"}}</p></td>
              <td><p class="peso-sign">{{cart.product.productQuantity}}</p></td>
              <td>
                <button class="qty-btn" (click)="minusQty(i,cart.id,computePerRow(cart.product.price,cart.orderQuantity))">-</button>
                <input type="number"  class="qty" value="{{cart.orderQuantity}}" disabled>
                <button class="qty-btn" (click)="addQty(i,cart.id,computePerRow(cart.product.price,cart.orderQuantity))">+</button>
              </td>
              <td> <span class="peso-sign">{{computePerRow(cart.product.price,cart.orderQuantity) | currency:"&#8369;":"symbol" }}</span></td>
              <td><button type="button" (click)="deleteCart()" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="row">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
    <div class="row">
        <div class="container-total">
          <p class="total-item">Total Item({{totalItem}}): </p>
          <p class="total-price"><span class="peso-sign">{{ totalAmount | currency:"&#8369;":"symbol" }}</span></p>
          <button class="btn btn-danger" (click)="checkout()">Check Out</button>
        </div>  
    </div>

  </div>