<nav class="flex-row  justify-content-center" >
    <ul class="pagination">
      <li class="page-item" *ngFor="let in  of counter(get());let i = index" >
        <p class="page-link mx-2" (click)="nextPage(i+1)">{{i+1}}</p>
      </li>
    </ul>
</nav>
