<!-- <div class="categories">
    <ul class="list-ul" >
        <li class="list-li mb-5" (click)="viewProduct(prod.id)" *ngFor="let prod of products | paginate : {itemsPerPage:10,currentPage:p}">
            <div class="laptop-image">
                <img class="list-img" src="../../assets//img/product/laptop/ACER 1.png" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">&#8369;{{prod.price}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
            </div>
        </li>   
    </ul>
</div> 
<pagination-controls ((pageChange)="p = $event"  class="bg-primary float-center"></pagination-controls> -->
<div class="row mb-2 px-5">
    <div class="col-8 pl-3 ">
        <h5 class="font-weight-bold">LAPTOP</h5>
    </div>
    <div class="col-4 pr-3 d-flex justify-content-end">
        <a href="#" class="link-danger font-weight-bold " (click)="goToCategory('Laptop')">VIEW ALL</a>
    </div>
</div>
<div class="categories" style="height:auto">
    <ul class="list-ul" >
        <li class="list-li mb-5" (click)="viewProduct(prod.id,prod.brand,prod.productName,prod.category)" *ngFor="let prod of laptops;">
            <div class="laptop-image">
                <img class="list-img" [src]="prod.imagePath" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">{{prod.price | currency:"&#8369;":"symbol"}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
                <button class="btn btn-danger mt-3 mb-3">ADD TO CART
                    <i class="ml-2 fa fa-shopping-cart" ></i>
                </button>
            </div>
        </li>   
    </ul>
</div> 



<div class="row mb-2 px-5">
    <div class="col-8 pl-3 ">
        <h5 class="font-weight-bold">DESKTOP</h5>
    </div>
    <div class="col-4 pr-3 d-flex justify-content-end">
        <a href="#" class="link-danger font-weight-bold" (click)="goToCategory('Desktop')">VIEW ALL</a>
    </div>
</div>
<div class="categories" style="height:auto;">
    <ul class="list-ul" >
        <li class="list-li mb-5" (click)="viewProduct(prod.id,prod.brand,prod.productName,prod.category)" *ngFor="let prod of desktop;">
            <div class="laptop-image">
                <img class="list-img" [src]="prod.imagePath" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">{{prod.price | currency:"&#8369;":"symbol"}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
                <button class="btn btn-danger mt-3 mb-3">ADD TO CART
                    <i class="ml-2 fa fa-shopping-cart" ></i>
                </button>
            </div>
        </li>   
    </ul>
</div> 


<div class="row mb-2 px-5">
    <div class="col-8 pl-3 ">
        <h5 class="font-weight-bold">MONITOR</h5>
    </div>
    <div class="col-4 pr-3 d-flex justify-content-end">
        <a href="#" class="link-danger font-weight-bold" (click)="goToCategory('Monitor')">VIEW ALL</a>
    </div>
</div>
<div class="categories" style="height:auto;">
    <ul class="list-ul" >
        <li class="list-li mb-5" (click)="viewProduct(prod.id,prod.brand,prod.productName,prod.category)" *ngFor="let prod of monitor;">
            <div class="laptop-image">
                <img class="list-img" [src]="prod.imagePath" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">{{prod.price | currency:"&#8369;":"symbol"}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
                <button class="btn btn-danger mt-3 mb-3">ADD TO CART
                    <i class="ml-2 fa fa-shopping-cart" ></i>
                </button>
            </div>
        </li>   
    </ul>
</div> 
<div class="row mb-2 px-5">
    <div class="col-8 pl-3 ">
        <h5 class="font-weight-bold">Mobile Phone</h5>
    </div>
    <div class="col-4 pr-3 d-flex justify-content-end">
        <a href="#" class="link-danger font-weight-bold" (click)="goToCategory('Mobile Phone')">VIEW ALL</a>
    </div>
</div>
<div class="categories" style="height:auto;" >
    <ul class="list-ul" >
        <li class="list-li mb-5" (click)="viewProduct(prod.id,prod.brand,prod.productName,prod.category)" *ngFor="let prod of mobiles;">
            <div class="laptop-image">      
                <img class="list-img" [src]="prod.imagePath" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">{{prod.price | currency:"&#8369;":"symbol"}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
                <button class="btn btn-danger mt-3 mb-3">ADD TO CART
                    <i class="ml-2 fa fa-shopping-cart" ></i>
                </button>
            </div>
        </li>   
    </ul>
</div> 

<div class="row mb-2 px-5">
    <div class="col-8 pl-3 ">
        <h5 class="font-weight-bold">PERIPHERALS</h5>
    </div>
    <div class="col-4 pr-3 d-flex justify-content-end">
        <a href="#" class="link-danger font-weight-bold" (click)="goToCategory('Peripherals')">VIEW ALL</a>
    </div>
</div>
<div class="categories" style="height:auto;">
    <ul class="list-ul" >
        <li class="list-li mb-5" (click)="viewProduct(prod.id,prod.brand,prod.productName,prod.category)" *ngFor="let prod of peripherals;">
            <div class="laptop-image">      
                <img class="list-img" [src]="prod.imagePath" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">{{prod.price | currency:"&#8369;":"symbol"}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
                <button class="btn btn-danger mt-3 mb-3">ADD TO CART
                    <i class="ml-2 fa fa-shopping-cart" ></i>
                </button>
            </div>
        </li>   
    </ul>
</div> 
