.btn{
    border:none;
    cursor: pointer;
    color:white;
    background-color: #e74c3c;
    padding:8px 0;
    letter-spacing: 3px;
    font-size:18px;
}
.btn:hover{
    background-color: #e23926;
}
    