<div class="container d-flex flex-column align-items-center justify-content-center my-5">
  <p class="lead">ADD CREDIT CARD</p>
    <form class=" p-1" style="width:30%;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Account type">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Balance">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Expiration Date">
        </div>
      
        <button type="submit" class="btn mt-1" style="width:100%;">Add Card</button>
      </form>
</div>