*{
    color:black;
}
.landing-container{
    display:grid;
    height:90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .hero-container{
        position:relative;
        width:100vw;
        background-image: url("../../assets/img/bg-landingpage.png");
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    .text-container{
        width:330px;
        position:absolute;
        top:120px;
        right:30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title{
            h3{
                font-weight: 500;
                font-size: 24px;
                margin-bottom: 30px;
            }
        }
        .content{
            p{
                text-align: justify;
                text-justify: inter-word;
            }
        }
        button {
            width:150px;
            margin:15px 0;
            padding:5px;
            border:none;
            border:solid 1px orange;
            background:none;
            font-size: 18px;
       }
       button:hover {
            border:solid 1px white;
            background:orange;
            color:white; 
       }
    }
    }
}