<div class="row mt-5 ml-5">
    <div class="btn-group col-1">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PRICE
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="lowestToHighest()">Lowest to Highest</a>
          <a class="dropdown-item" (click)="highestToLowest()">Highest to Lowest </a>
        </div>
      </div>
      
</div>
<div class="categories" style="height:auto;">
    <ul class="list-ul" >
        <li class="list-li mb-3" (click)="viewProduct(prod.id,prod.brand,prod.productName,prod.category)" *ngFor="let prod of newProducts | paginate : {itemsPerPage:10,currentPage:p}">
            <div class="laptop-image">
                <img class="list-img" [src]="prod.imagePath" alt="">
            </div>
            <div class="laptop-info">
                <p class="laptop-price">{{prod.price | currency:"&#8369;":"symbol"}}</p>
                <p class="laptop-name">{{prod.productName}}</p>
                <p class="laptop-brand"><span>Brand: </span>{{prod.brand}}</p>
                <button class="btn btn-danger mt-3 mb-3">ADD TO CART
                    <i class="ml-2 fa fa-shopping-cart" ></i>
                </button>
            </div>
        </li>   
    </ul>
</div> 

<div class="row mb-5 d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>