<div class="row" style="height:100vh;">
    <div class="col-2 bg-danger">
        <nav class="col-10 navbar navbar-expand-lg navbar-dark">
            <ul class="navbar-nav d-flex flex-column align-items-start">
                <li class="nav-item __custom_li">
                    <a class="nav-link text-white __custom__a"  [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item __custom_li mt-3">
                    <a class="nav-link text-white __custom__a"  [routerLink]="['/user/account']">My Account</a>
                </li>
                <li class="nav-item __custom_li mt-3">
                    <a class="nav-link text-white __custom__a"  (click)="goToTransaction()">Transaction</a>
                </li>
              
            </ul>
      </nav>
    </div>
</div>