*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Century Gothic;
}
body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}