

<div class="register-container">
    <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()" >
        <div class="left">
            <div class="input-group">
                <input type="text"  autocomplete="off" placeholder="First name | Middle name | Last name"
                formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                >
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Full name is required</div>
                </div> 
            </div>
            <div class="input-group">
                <input type="text" autocomplete="off" placeholder="Username"
                formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                >
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> 
                
            </div>

            <div class="input-group">
                <input type="password" placeholder="Password" [type]="hidePassword? 'password':'text'" id="passowrd"
                 formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                >
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div> 
                <img src="{{ imagePath }}"  width="25"  (click)="showPassword()"  alt="HIDE PASSWORD">
            </div>
            <div class="input-group">
                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  placeholder="Email address"
                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                >
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email Address is required</div>
                </div> 
            </div>
        </div>
        <div class="right">
             
           
            <div class="input-group-right">
                <input type="text"  placeholder="Address"
                formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                >
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                </div> 
            </div>
            <div class="input-group-right">
                <input type="text" placeholder="Contact number"
                formControlName="contact_number" [ngClass]="{ 'is-invalid': submitted && f.contact_number.errors }"
                >
                <div *ngIf="submitted && f.contact_number.errors" class="invalid-feedback">
                    <div *ngIf="f.contact_number.errors.required">Contact number is required</div>
                </div> 
            </div>
           
            
            <div class="input-group-right">
                <button class="btn-register">SIGN UP</button>
            </div>
            
        </div>
</form>
</div>