img{
    position:absolute;
    top:8px;
    right:15px;
    cursor: pointer;
}  
form{
    display:flex;
    justify-content: center;
}
input{  
    padding:5px;
    height:40px;
    border:1px solid lightgray;
    width: 350px;
    cursor:auto;
    font-size: 16px;
}
input:focus{
outline:1px solid black;;
}
.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin:0px 0px 30px 0px;

 }
 .input-group-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:0px 0px 30px 0px;

 }
 .btn-register{
    width:350px;
    border:none;
    cursor: pointer;
    color:white;
    background-color: #e74c3c;
    padding:8px 0;
    letter-spacing: 6px;
    font-size:16px;
}
.btn-register:hover{
    background-color: #e23926;
    
}
.register-container{
    margin-top:50px;
    margin-bottom:150px;
    margin-left:40px;
    padding:20px;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    .left{
        grid-row: 1/2;
        grid-column: 1/2;
        padding:30px;
    }
    .right{
        padding-top: 30px;
        margin-bottom: 100px;
        grid-row: 1/2;
        grid-column: 2/3;

       
    }
    
}